@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.men_menu {
  position: relative;
  height: 80%;
}
.men_submenu {
  display: none;
}

.men_menu:hover .men_submenu {
  display: block;
  top: 95px;
  left: 0;
  position: fixed;
  z-index: 4;
}

.list_item p:hover {
  color: #ffdd00;
}

.gender_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(248, 235, 39, 0) 0%,
    #f8eb27 48.11%,
    rgba(248, 235, 39, 0) 100%
  );
}

.login_Img {
  height: 176px;
  width: 380px;
}

.menpage_aside {
  width: 20vw;
  position: fixed;
  height: 100vh;
}

.menpage_main {
  width: calc(100vw - 24vw);
  margin-left: 22vw;
}

/* ----------- */
.women_aside {
  width: 20vw;
  height: 100vh;
}

.womenpage_main {
  width: calc(100vw - 24vw);
  margin-left: 1vw;
}

/* --------Search ------------- */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.search_btn,
.close_btn {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: none;
  color: #fff;
  padding-left: 10px;
  position: absolute;
}

.search_box {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  /* border-radius: 1rem; */
  outline: none;
}

.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: black; */
  color: orangered;
  z-index: -1;
}

.active .search_box {
  width: 14rem;
  border: 1px solid black;
  overflow: hidden;
}

.active .search_btn {
  transform: translate(5.45rem) scale(1.25);
  border-left: 1px solid black;
  margin-left: 10px;
  z-index: 20;
  height: 2rem;
  width: 2rem;

  background: black;
}

.active .close_btn {
  z-index: 0;
  transform: translate(6.25rem);
  background: black;
}
